@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar{
background-color: rgb(38, 38, 38);
width: 12px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(234, 234, 234);
}

.custom-scroll::-webkit-scrollbar{
  display: none;
background-color: rgb(38, 38, 38);
height: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb{
  background-color: rgb(234, 234, 234);
}

.shadow1{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.shadow2{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}